body{
    background-color: #000 
    ("tim_imagen.jpg");
    background-size: cover;
    background-position:center;
    background-attachment: fixed; 
    

}
div {
    background-color:blue;
    width: 300px;
    
    padding: 20px;
    margin: 50px auto;
    border: 1px solid #fff;
    border-radius: 12px;
}